# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
venv/
.venv/

# Secrets
.env
*.env

# Streamlit
.streamlit/

# uploads & datasets
uploads/
data/
*.csv
*.pt
*.pth
models/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
eg_image/
images/
models/
*.pt
uploads/
